
body, html {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: static;
	background: #222;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 0 2px #111;
}

*.open-sans { font-family: 'Open Sans Condensed', sans-serif !important; }
*.londrina { font-family: 'Londrina Solid', cursive !important; }

*.full-width { width: 100%; }
*.full-height { height: 100%; }
*.full-all { width:100%; height:100%; }

*.no-margin { margin: 0; }
*.no-padding { padding: 0;}
*.no-extras { margin:0; padding: 0; }

*.overflow-x { overflow-x: auto; }
*.overflow-y { overflow-y: auto; }
*.overflow-all { overflow: auto; }
*.overflow-none { overflow: hidden; }
*.overflow-x-no-y { overflow-x: auto; overflow-y: hidden; }
*.overflow-y-no-x { overflow-y: auto; overflow-x: hidden; }
.landscape .overflow-landscape { overflow:auto; }
.portrait .overflow-portrait { overflow: auto; }

*.ss a:link, *.ss a:active, *.ss:visited, *.ss a:hover {
	color: inherit;
}

*.ss .title {
	text-transform: uppercase;
	text-shadow: 0 2px #111;
	font-size:2em;
	line-height:1.1em;
}

*.ss .header {
	font-size:1.2em;
	line-height:1.1em;
	text-transform: uppercase;
}

*.ss .para {
	font-size: 0.7em;
	line-height:1.2em;
}

@media only screen 
  and (max-device-width: 600px) {
  	*.ss .para {
  		text-shadow:0 1px #111;
  	}
}

*.page-loading {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1000000;
	background: rgba(1,1,1,0.8);
	text-align: center;
	display:none;
	color: #fff;
}

.page-loading .holder {
	width:100%;
	height:100%;
	position:relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;

}

.page-loading .container {
	width: auto;
	height: auto;
	margin: 0 auto;
	text-align: center;
	position:relative;
}

.page-loading .container .preloader-img {
	width:75px;
	height:75px;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../img/loading.gif');
	margin:5px auto;
}

.page-loading .message {
	font-size: 1.5em;
}

.main-wrapper, .ss {
	position: absolute;
	top: 0;
	left: 0;
}

.ss .grid-box .bg-img, .ss .grid-box .text-container {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	margin: 0;
}

.ss .grid-box {
	cursor: pointer;
	overflow:hidden;
	opacity:0;
	display:none;
}
.ss .grid-box .bg-img {
	opacity: 0.2;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	/*filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);*/
}

.ss .grid-box .text-container {
	padding:10px;
}

.ss .grid-box .overlay {
	position: absolute;
	z-index:10;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(1,1,1,0.9);
	display:none;
}

.ss .grid-box .overlay .btn {
	font-size:0.9em;
	text-shadow: none;
	font-weight:bold;
	padding:5px;
}

.ss .grid-box .overlay .container {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 5px;
	width:100%;
	height: 100%;
}

/*-------------- RANDOM STUFF ---------*/

.ss .copyinfo {
	font-size: 0.4em;
}

@media only screen 
  and (max-device-width: 600px) {
  	.ss .copyinfo {
  		text-shadow:0 1px #111;
  	}
}

/*----- MODAL ------*/

.cs-modal-container {
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	overflow: hidden;
	display: none;
	background: rgba(1,1,1,0.7);
	z-index: 99999;
}

.csmc .cs-modal-content {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.csmc .cs-modal-header {
	height: 80px;
}
.csmc .cs-modal-body {
	height: calc(100% - 80px);
	position:relative;
}

.csmc .close-btn {
	/*margin-left: 10px;*/
	margin-right: 10px;
	cursor: pointer;
}

.csmc .cs-modal-body-content {
	position: relative;
	top: 0;
	left:0;
	width:100%;
	height:100%;
}